# Dependencies
/node_modules
/frontend/node_modules

# Build artifacts
/frontend/dist

# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

#Files
/api/index2.py
/.env
/.env.local
/.env.*
!/.env.example

# Keys (do not commit private keys)
/api/keys/
